/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
/* IMPORTED FONTS */
@font-face {
    font-family: "ultra";
    src: url('../fonts/serif/ultra-regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "roboto";
    src: url("../fonts/sans-serif/roboto-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "monstercat";
    src: url("../fonts/sans-serif/montserrat-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* TYPOGRAPHY */

p {
    font-family: roboto, Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

h1, h2, h3, h4 {
    font-family: monstercat, Arial, Helvetica, sans-serif;
    letter-spacing: 0.0325rem; 
}

h1 {
    font-size: 4rem;
    letter-spacing: 0.25rem;
    transform: rotate(-4deg);
}

.highlight {
    display: inline-block;
    font-family: ultra, monstercat, Helvetica, serif;
    border: 1px solid black;
    border-color: #222526;
    color: #732C2C;
    margin: 0.25rem;
    padding: 0.325rem;
    border-width: .5rem;
    border-radius: 0.3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #D9D9D9;
    box-shadow: 5px 5px 4px -1px;
}



/* General Setup AND DEFAULTS */
* {
    box-sizing: border-box;
}

html {
    font-size:16px;
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* LAYOUT */

header {
    padding: 0.5rem 0rem 1rem 0rem;
    position: relative;
    left: 28%;
}

nav {
    margin-top: 3rem;
}
.main-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 1rem;

}

article {
    grid-column: 1 / 2; 
    grid-row: 1;
}

aside {
    grid-column: 2 / 3;
    grid-row: 1;
    border-left: 1px solid #732C2C;
    padding: 1rem;
}

aside p {
    border-bottom: 1px solid #732C2C;
    padding-bottom: 1rem;
    font-size: .95rem;
}

aside img {
    width: 100%;
}

.expand {
    font-size: 0.325rem;
}

.subsection {
    display: flex;
    position: relative;
    left: 15%;
}

/* IMAGES AND FIGURES */ 

img {
    width: 100%;
}

figure {
    margin: 0px;     
}

.article-image {
    width: 15%;
    float: left;
    margin-right: 1rem;
}

.subsection {
    margin: 1rem 0rem;
}

.subsection figure {
    margin: 0rem 0.25rem;
    background-color:#97A4A6;

}

.subsection figure figcaption {
    padding: 0.5rem 0.5rem;
}

button {
    font-family: ultra, monstercat, Helvetica, serif;
    color: #732C2C; 
    font-size: 1.5rem;
    outline-color:#D9D9D9;
}

button a:focus,
button a:hover {
    color: #222526;
}

/* LINKS AND NAVIGATION */ 

a {
    text-decoration: none; 
}

nav a {
    display: inline-block;
    padding: 1.25rem 2rem;
    font-size: 1.5rem;
    font-family: monstercat, Arial, Helvetica, sans-serif;
    color: #732C2C;
}
nav {
    border-top: 1px solid #732C2C;
    border-bottom: 1px solid #732C2C;
}
nav a:focus,
nav a:hover {
    color: #222526;
    background: #732C2C ;
}

.attribution {
    font-size: .75rem;
    float: right;
}
.attribution a:focus,
.attribution a:hover {
    color: #222526;
}

.attribution a {
    color: #732C2C ;
}

footer {
    float: left;
}
footer p a{
    color: #732C2C;
}
footer a:focus,
footer a:hover {
    color: #222526;
}